<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render "shared/user_info" %>
      </section>
      <section>
        <%= render "shared/stats" %>
      </section>
      <section>
        Learned <%= pluralize(current_user.words.distinct.count, "word") %>
      </section>
    </aside>
    <div class="span8">
      <div class="span3">
      <%= link_to "Words", words_path, class: "btn btn-large btn-block btn-primary" %>
      </div>
      <div class="span3">
      <%= link_to "Lesson", '#', class: "btn btn-large btn-block btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to</h1>
    <h1>Framgia E-Learning System</h1>
  	<br/>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>