<li>
  <div class="row">
    <div class="span7">
      <div class="title">
        <%= category.name %>
      </div>
      <div>
        <%= category.description %>
      </div>
      <div class="stats">
        You have learned <%= category.words.learned_by(current_user).count %>
        / <%= category.words.count %> words.
      </div>
    </div>
    <div class="span1">
      <%= link_to "Start", new_lesson_path(category_id: category.id), class: "btn btn-primary" %>
    </div>
  </div>
  <p></p>
</li>